html{
scroll-behavior:smooth;
}

body{

font-family:Arial;
background:linear-gradient(135deg,#0d47a1,#e53935);
color:white;

}

.hero{

padding:80px;
background:white;
color:black;
border-bottom:5px solid #e53935;

}

.intro{

font-size:18px;
max-width:700px;
margin:auto;

}

.foto{

width:200px;
border-radius:100px;
margin-top:20px;

}

.poema{

text-align:center;
padding:80px;
font-style:italic;
font-size:20px;
background:#0d47a1;

}

.seccion{

padding:60px 0;
background:white;
color:black;

}

h2{

color:#e53935;
margin-bottom:30px;

}

.icono{

font-size:40px;
margin-bottom:10px;
color:#0d47a1;

}

footer{

background:#111;
color:white;
text-align:center;
padding:20px;

}



/* SPIDERMAN MENU */

#spiderman-area{

position:fixed;
top:10px;
right:10px;
width:120px;
text-align:center;

}

#spiderman{

width:80px;
transition:0.5s;

}

.web{

width:3px;
height:0;
background:white;
margin:auto;
transition:0.5s;

}

#menu-web{

position:absolute;
top:50px;
left:50%;
transform:translateX(-50%);

opacity:0;

background:white;
color:black;

padding:8px;

border-radius:10px;

display:flex;
flex-direction:column;

gap:5px;

width:110px;

}

#menu-web a{

text-decoration:none;
color:black;
font-size:13px;
font-weight:bold;

}

#menu-web a:hover{

color:#e53935;

}


#spiderman-area:hover .web{

height:50px;

}

#spiderman-area:hover #spiderman{

transform:translateY(50px);

}

#spiderman-area:hover #menu-web{

opacity:1;

}



/* SPIDEY BOTON VOLVER ARRIBA */

#spidey{

position:fixed;

bottom:20px;
left:20px;

display:none;

flex-direction:column;
align-items:center;

text-decoration:none;

z-index:9999;

}

/* TELARAÑA */

#spidey::before{

content:"";

position:absolute;

bottom:70px;
left:50%;

width:3px;
height:0;

background:white;

transform:translateX(-50%);

transition:0.4s;

}

/* SPIDEY IMAGEN */

#spidey img{

width:70px;

transition:0.4s;

}

/* TEXTO */

#spidey span{

background:#e53935;
color:white;

padding:5px 10px;

border-radius:10px;

font-size:12px;

margin-top:5px;

opacity:0;

transition:0.3s;

}

/* ANIMACION */

#spidey:hover::before{

height:60px;

}

#spidey:hover img{

transform:translateY(-10px) scale(1.1);

}

#spidey:hover span{

opacity:1;

}