html{
scroll-behavior:smooth;
}

body{

font-family:Arial;

/* fondo general oscuro para contraste */
background:#111;

color:white;

}

.hero{

padding:80px;

/* mezcla blaugrana */
background:linear-gradient(135deg,#0d47a1,#e53935);

color:white;

border-bottom:4px solid #ffffff33;

}

.intro{

font-size:18px;
max-width:700px;
margin:auto;

}

.foto{

width:200px;
border-radius:100px;
margin-top:20px;

/* borde Spider-Man */
border:4px solid white;

}

.poema{

text-align:center;
padding:80px;
font-style:italic;
font-size:20px;

/* mezcla inversa para variar */
background:linear-gradient(135deg,#e53935,#0d47a1);

color:white;

}

.seccion{

padding:60px 0;

background:linear-gradient(135deg,#0d47a1 10%, #e53935 90%);

color:white;

}

.seccion + .seccion{
margin-top:-1px;
}



h2{

color:white;
margin-bottom:30px;

border-bottom:3px solid white;

display:inline-block;
padding-bottom:5px;

}
.seccion h2{

margin-left:40px;

}

.icono{

font-size:40px;
margin-bottom:10px;

/* blanco para que contraste */
color:white;

transition:0.3s;

}

.icono:hover{

color:#ffd54f; /* dorado tipo Barça */

}

footer{

background:linear-gradient(135deg,#0d47a1 10%, #e53935 90%);
color:white;
text-align:center;
padding:20px;

}

/* AQUI ABAJO */

.seccion .container{
background:transparent;
}

.seccion .row{
background:transparent;
}



/* SPIDERMAN MENU */

#spiderman-area{

position:fixed;
top:10px;
right:10px;
width:120px;
text-align:center;

}

#spiderman{

width:80px;
transition:0.5s;

}

.web{

width:3px;
height:0;
background:white;
margin:auto;
transition:0.5s;

}

#menu-web{

position:absolute;
top:50px;
left:50%;
transform:translateX(-50%);

opacity:0;

background:white;
color:black;

padding:8px;

border-radius:10px;

display:flex;
flex-direction:column;

gap:5px;

width:110px;

}

#menu-web a{

text-decoration:none;
color:black;
font-size:13px;
font-weight:bold;

}

#menu-web a:hover{

color:#e53935;

}


#spiderman-area:hover .web{

height:50px;

}

#spiderman-area:hover #spiderman{

transform:translateY(120px);

}

#spiderman-area:hover #menu-web{

opacity:1;

}



/* SPIDEY ABAJO */

#spidey{

position:fixed;

bottom:0;
left:20px;

display:none;

flex-direction:column;
align-items:center;

text-decoration:none;

z-index:9999;

}

/* TELARAÑA */

.web-bottom{

width:3px;
height:0;

background:white;

transition:0.5s;

}

/* IMAGEN */

#spidey img{

width:90px;

transition:0.5s;

}

/* TEXTO */

#spidey span{

position:absolute;

bottom:140px;

left:50%;
transform:translateX(-50%);

background:white;
color:black;

padding:6px 12px;

border-radius:10px;

font-size:12px;

opacity:0;

transition:0.3s;

}

/* ANIMACION */

#spidey:hover .web-bottom{

height:120px;

}

#spidey:hover img{

transform:translateY(80px);

}

#spidey:hover span{

opacity:1;

}

